

body {
    color: black;
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 7fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo banner banner"
        "nav nav nav" 
        "main main side" 
        "footer footer footer";
    grid-gap: 4px;
}

.box {
    border: solid 1px #000000;
  padding: 20px;

}

.logo {
    grid-area: logo;
}

.banner {
    grid-area: banner;
    background-color: #548191;
    font-family: 'Exo 2', sans-serif;
    font-size: 160%;
}

.nav {
    grid-area: nav;
    background-color: #8a684d;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: #8d9581;
    height: 420px;
}

.side {
        grid-area: side;
    background-color: #899c9b;
}

.footer {
    grid-area: footer;
    background-color: #4fa7b0;
}

img {
    padding: 0px;
}

    img.main-image {
        width: 100px;
    }


a {
    color: Black;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    background-color: #8a684d;
    font-size: large;
}

th, td {
    background-color: #8d9581;
    text-align: center;
}

